.main-container {
  width:100%;
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:url('/pics/background/12.png');
  background-repeat: no-repeat;
  background-size: cover;
 
}

.form-container {
  width: 320px;
  height: 457px;
  display:grid;
  grid-template-rows: auto;
}

.form-div{
  width: inherit;
  height: 425px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo-div{
  background-image: url("/pics/stickricon.jpg");
  background-size:contain;
  height:64px;
  width:64px;
  margin-top:5px;

}

#login-text{
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 10px;
}

#login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.form-input {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 14px;
  padding-left: 15px;
  width: 272px;
  height: 56px;
  margin: 7px;
}

#login-button { 
  background-color: #128fdc;
  color: white;
  border: 1px solid #128fdc;
  border-radius: 5px;
  height: 42px;
  width: 272px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 34px;
  margin-bottom: 20px;

}  

#demo{
  font-size: 12px;
  color:#006dac;
  text-decoration: none;
  margin-bottom:10px;
}

#member-text{
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid gray;
  font-size: 12px;
}

.form-footer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  color: white; 
  width: inherit;
  height: 24px;
  margin-top: 8px;
}

#footer-link {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

