.sidebar{
  display:grid;
  grid-template-rows: 65px 9fr;
  margin-top: 75px;
  color: black;
  font-size: 30px;
}

#display-icon-div{
  display:flex;
  flex-direction: row;

}

#grid-icon{
  margin: 0px 15px;
  height: 32px;
  width: 32px;
  background-image: url('/pics/icons/gridicong.png');
  background-size: cover;
  cursor: pointer;
}

#grid-icon:hover{
  background-image: url('/pics/icons/gridiconb.png');
}

#scroll-icon{
  height: 32px;
  width: 32px;
  background-image: url('/pics/icons/scrollicong.png');
  background-size: cover;
  cursor: pointer;
}

#scroll-icon:hover{
  background-image: url('/pics/icons/scrolliconb.png');
}

#users-link-div{
  grid-area: "link-div";
  display:flex;
  flex-direction: column;
  margin: 0px 15px;
  color: gray;
  
}

#user-link{
  color: rgb(44, 44, 44);
  text-decoration: none;
  cursor: pointer;
}