#modal-container{
  position: absolute;
  top: 42px;
  right: -75px;
  background-image: url('/pics/modal.png');
  background-size: cover;
  display:flex;
  flex-direction: column;
  height: 355px;
  width: 325px;
  margin-right: 50px;
}

#hide-modal{
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

#greetuser-div{
  margin-top: 35px;
  margin-bottom: 5px;
  margin-left: 15px;
  padding-left: 5px;
  font-weight: bolder;
  font-size: 24px;
}

#greetlanguage-div{
  margin: 5px 15px;
  padding-left: 5px;
  color: #676767;
  font-size: 14px;
}

#upload-link{
  font-size: 18px;
  text-align: left;
  margin: 25px 15px;
  padding: 15px 5px;
  color: #006dac;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  text-decoration: none;
}

#logout-span{
  font-size: 18px;
  margin: 15px;
  padding: 5px 5px;
}

#logout-span:hover{
  padding: 5px 5px;
  background-color:rgb(218, 218, 218);
}