.photo-grid {
  margin-left: 50px;
  margin-top: 100px;
  display:flex;
  grid-template-columns:auto;
  overflow-y:scroll;
  /* grid-template-rows: auto; */
}

/* .single-photo:nth-child(5n){
    grid-column-end: span 2;
} */

.sticker-div{
  margin-right: 5px;
  overflow: auto;
}
.sticker{
  margin-right: 5px;
  padding-right: 15px;
  height: 700px;
  width:auto;
}
