.photo-scroll {
  margin-left: 50px;
  margin-top: 100px;
  display:flex;
  grid-template-columns:auto;
  overflow-y:scroll;
 
}

.scroll-sticker{
  margin-right: 5px;
  padding-right: 15px;
  height: 700px;
  width:auto;
}

.grid-sticker{
  margin-right: 5px;
  padding-right: 15px;
  height: 700px;
  width:auto;
}

.photo-grid-container{
  margin-top: 75px;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px 500px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.photo-grid-item{
  width: 100%;
  height: 100%;
  position: relative;

}

.photo-grid-item .photo{
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.photo-grid-item .photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.photo-grid-item:hover .photo img{
  transform:scale(1.5)
}

.w-1{
  grid-column: span 1;
}
.w-2{
  grid-column: span 2;
}
.w-3{
  grid-column: span 3;
}
.w-4{
  grid-column: span 4;
}

.h-1{
  grid-column: span 1;
}
.h-2{
  grid-column: span 2;
}
.h-3{
  grid-column: span 3;
}
.h-4{
  grid-column: span 4;
}