.upload-photo__container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 175px;
  background-color: #fff;
}

.uploadButton {
  margin-top: 15px;
  height: 25px;
  transition: 0.5s;
}

.uploadButton:hover {
  background-color: black;
  color: white;
}
